#   GCLK7 is the built in oscillator on the SparkFun break out board, and it's
# nominally 50MHz.  GCLK9 is the OSC1 socket on the UME2 board, and GCLK0 is
# the OSC2 socket.  These are whatever frequency you install (maybe nothing!).
NET "clock_50mhz_in"   	LOC="P181"	| IOSTANDARD=LVCMOS33;
#NET "osc1_in"		LOC="P184"	| IOSTANDARD=LVCMOS33;
#NET "osc2_in"		LOC="P80"	| IOSTANDARD=LVCMOS33;

# Timing specifications for the oscillators ...
NET "clock_50mhz_in" TNM_NET = "clock_50mhz_in";
TIMESPEC "TS_clock_50mhz_in" = PERIOD "clock_50mhz_in" 20ns HIGH 50%;

#   Two multiplexed six digit seven segment displays for address (the top or
# green one) and data (bottom or red one).  Note that the segment drives are
# separate for the two displays, however the digit drives are shared...
NET "adisp<0>"	LOC="P39"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "adisp<1>"	LOC="P41"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "adisp<2>"	LOC="P35"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "adisp<3>"	LOC="P45"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "adisp<4>"	LOC="P47"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "adisp<5>"	LOC="P49"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "adisp<6>"	LOC="P33"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<0>"	LOC="P161"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<1>"	LOC="P163"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<2>"	LOC="P165"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<3>"	LOC="P167"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<4>"	LOC="P171"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<5>"	LOC="P177"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ddisp<6>"	LOC="P106"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "scan_n<0>"	LOC="P3"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "scan_n<1>"	LOC="P5"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "scan_n<2>"	LOC="P9"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "scan_n<3>"	LOC="P196"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "scan_n<4>"	LOC="P200"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "scan_n<5>"	LOC="P202"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

#   The sixteen key (4x4) keypad is scanned - the column select lines are
# shared with scan<0..3> and then these four inputs correspond to each
# of the four buttons in that row.  The inputs are low when a button is pressed.
NET "keyrow_n<3>"	LOC="P174"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "keyrow_n<2>"	LOC="P58"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "keyrow_n<1>"	LOC="P118"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "keyrow_n<0>"	LOC="P14"	| IOSTANDARD=LVCMOS33 | PULLUP;

#   These four status LEDs are unmultiplexed - the LED is on any time the
# corresponding output is low.  Couldn't be simpler...
NET "led_n<0>"		LOC="P160"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "led_n<1>"		LOC="P55"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "led_n<2>"		LOC="P113"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "led_n<3>"		LOC="P2"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

#  These inputs are the four toggle switches or push buttons along the right
# edge.  When the switch is ON, the corresponding input is low...
#NET "sw_n<0>"		LOC="P159"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "sw_n<0>"		LOC="P54"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "sw_n<1>"		LOC="P110"	| IOSTANDARD=LVCMOS33 | PULLUP;
#NET "sw_n<3>"		LOC="P6"	| IOSTANDARD=LVCMOS33 | PULLUP;

# The piezo speaker/transducer is push-pull driven by two FPGA outputs.
NET "speaker"		LOC="P65"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "speaker_n"		LOC="P63"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

# The PS/2 keyboard interface is just two pins - clock and data ...
NET "ps2_clock_n"	LOC="P78"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
NET "ps2_data_n"	LOC="P76"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

# CompactFlash interface (8 bits only!) ...
NET "cf_a<0>"		LOC="P168"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_a<1>"		LOC="P186"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_a<2>"		LOC="P172"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<0>"		LOC="P197"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<1>"		LOC="P199"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<2>"		LOC="P203"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<3>"		LOC="P205"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<4>"		LOC="P162"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<5>"		LOC="P164"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<6>"		LOC="P178"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_d<7>"		LOC="P180"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_cs_n"		LOC="P83"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_oe_n"		LOC="P93"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_we_n"		LOC="P97"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_reset"		LOC="P89"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "cf_ready_n"	LOC="P91"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "cf_cd_n"		LOC="P71"	| IOSTANDARD=LVCMOS33 | PULLUP;

# Centronics parallel port interface ...
#NET "lpt_ack"		LOC="P20"	| IOSTANDARD=LVCMOS33 | PULLUP;
#NET "lpt_auto_lf"	LOC="P190"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_busy_n"	LOC="P26"	| IOSTANDARD=LVCMOS33 | PULLUP;
#NET "lpt_d<0>"		LOC="P102"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<1>"		LOC="P100"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<2>"		LOC="P98"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<3>"		LOC="P96"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<4>"		LOC="P94"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<5>"		LOC="P90"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<6>"		LOC="P99"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_d<7>"		LOC="P82"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_dir_n"	LOC="P11"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_error"	LOC="P183"	| IOSTANDARD=LVCMOS33 | PULLUP;
#NET "lpt_init"		LOC="P23"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_paper_out"	LOC="P175"	| IOSTANDARD=LVCMOS33 | PULLUP;
#NET "lpt_select"	LOC="P204"	| IOSTANDARD=LVCMOS33 | PULLUP;
#NET "lpt_select_in"	LOC="P192"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
#NET "lpt_strobe"	LOC="P15"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;

# MMC/SD card slot ...
NET "mmc_sclk"		LOC="P103"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "mmc_mosi"		LOC="P61"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "mmc_miso"		LOC="P87"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "mmc_cs_n"		LOC="P151"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "mmc_cd_n"		LOC="P124"	| IOSTANDARD=LVCMOS33 | PULLUP;
NET "mmc_wp_n"		LOC="P130"	| IOSTANDARD=LVCMOS33 | PULLUP;

# 512Kx16 SRAMs (two of 'em, "ram a" and "ram b") ...
NET "ram_ma<0>"		LOC="P120"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<1>"		LOC="P122"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<2>"		LOC="P123"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<3>"		LOC="P126"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<4>"		LOC="P128"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<5>"		LOC="P129"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<6>"		LOC="P132"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<7>"		LOC="P134"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<8>"		LOC="P135"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<9>"		LOC="P138"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<10>"	LOC="P16"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<11>"	LOC="P18"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<12>"	LOC="P19"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<13>"	LOC="P22"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<14>"	LOC="P24"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<15>"	LOC="P25"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<16>"	LOC="P28"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<17>"	LOC="P30"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_ma<18>"	LOC="P31"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<0>"		LOC="P140"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<1>"		LOC="P139"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<2>"		LOC="P144"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<3>"		LOC="P146"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<4>"		LOC="P147"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<5>"		LOC="P150"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<6>"		LOC="P152"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<7>"		LOC="P153"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<8>"		LOC="P4"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<9>"		LOC="P8"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<10>"	LOC="P34"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_md<11>"	LOC="P36"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ram_md<12>"	LOC="P40"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ram_md<13>"	LOC="P42"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ram_md<14>"	LOC="P48"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
#NET "ram_md<15>"	LOC="P50"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_oe_n"		LOC="P12"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_we_high_n"	LOC="P112"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;
NET "ram_we_low_n"	LOC="P116"	| IOSTANDARD=LVCMOS33 | SLEW=FAST;

# DS1302 Real time clock/calendar ...
NET "rtc_ce"		LOC="P69"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;
NET "rtc_sio"		LOC="P77"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | PULLUP;
NET "rtc_sclk"		LOC="P75"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW;

# Two serial ports (note that SLU0 is on the Digilent board) ...
#NET "slu0_cts"		LOC="P109"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu0_rts"		LOC="P108"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu0_rxd"		LOC="P106"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu0_txd"		LOC="P107"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu1_dsr"		LOC="P32"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu1_dtr"		LOC="P185"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu1_rxd"		LOC="P43"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;
#NET "slu1_txd"		LOC="P29"	| IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=8;

# And a VGA interface ...
NET "vga_blue"		LOC="P62"	| IOSTANDARD=LVCMOS33 | SLEW=FAST | DRIVE=8;
NET "vga_green"		LOC="P64"	| IOSTANDARD=LVCMOS33 | SLEW=FAST | DRIVE=8;
NET "vga_red"		LOC="P60"	| IOSTANDARD=LVCMOS33 | SLEW=FAST | DRIVE=8;
NET "vga_hsync"		LOC="P68"	| IOSTANDARD=LVCMOS33 | SLEW=FAST | DRIVE=8;
NET "vga_vsync"		LOC="P74"	| IOSTANDARD=LVCMOS33 | SLEW=FAST | DRIVE=8;

